<div class="examples-section">
    <h1 class="sectionhead">Past Work Samples</h1>
    <div class="examples-container">
        <div class="example">
            <div (click)="irelandLink()" class="image-container img">
                <img class="example-img" src="../../assets/TourismIreland_Thumbnail.png"
                    alt="Tourism Ireland Thumbnail">
            </div>
            <p class="example-text">2019 Tourism Ireland Pitch Deck</p>
        </div>
        <div class="example">
            <div (click)="conanLink()" class="image-container img">
                <img class="example-img" src="../../assets/Conan.png" alt="Conan Thumbnail">
            </div>
            <p class="example-text">2017 Boston Beer/ Conan O'Brien Integration</p>
        </div>
        <div class="example">
            <div (click)="islandLink()" class="image-container img">
                <img class="example-img" src="../../assets/IslandofIreland.png"
                    alt="Tourism Ireland New Yorker Thumbnail">
            </div>
            <p class="example-text">2019 Tourism Ireland/The New Yorker Custom Illustrative Article</p>
        </div>
        <div class="example">
            <div (click)="tripAdvisor()" class="image-container img">
                <img class="example-img" src="../../assets/TripAdvisor.png" alt="TripAdvisor Thumbnail">
            </div>
            <p class="example-text">2019 TripAdvisor Pitch Deck</p>
        </div>
        <div class="example">
            <div (click)="hertz()" class="image-container img">
                <img class="example-img" src="../../assets/Chicago.png" alt="Chicago Thumbnail">
            </div>
            <p class="example-text">2019 Hertz Pitch Deck</p>
        </div>
        <div class="example">
            <div (click)="claws()" class="image-container img">
                <img class="example-img" src="../../assets/Claws.png" alt="Claws Thumbnail">
            </div>
            <p class="example-text">2018 Fenty Pitch Deck</p>
        </div>
    </div>
</div>