<div class="examples-container">
    <div (click)="irelandLink()" class="image-container img">
        <img class="example-img" src="../../assets/TourismIreland_Thumbnail.png" alt="Tourism Ireland Thumbnail">
    </div>
    <div (click)="conanLink()" class="image-container img">
        <img class="example-img" src="../../assets/Conan.png" alt="Conan Thumbnail">
    </div>
    <div (click)="islandLink()" class="image-container img">
        <img class="example-img" src="../../assets/IslandofIreland.png" alt="Tourism Ireland New Yorker Thumbnail">
    </div>
    <div (click)="tripAdvisor()" class="image-container img">
        <img class="example-img" src="../../assets/TripAdvisor.png" alt="TripAdvisor Thumbnail">
    </div>
    <div (click)="chicago()" class="image-container img">
        <img class="example-img" src="../../assets/Chicago.png" alt="Chicago Thumbnail">
    </div>
    <div (click)="claws()" class="image-container img">
        <img class="example-img" src="../../assets/Claws.png" alt="Claws Thumbnail">
    </div>
</div>