<div class="aboutme-container">
    <div class="headshot-container about">
        <img class="headshot" src="../../assets/JG_Headshot.JPG" alt="Jennie Gilman Headshot">
    </div>
    <div class="info-container about">
        <div class="aboutinfo-container">
            <h1>Jennie Gilman</h1>
            <p class="description">With over five years experience in media and entertainment marketing, Jennie is a
                professional
                marketer currently working at Condé Nast on the Travel team driving revenue across brands such as
                Bon Appétit, Condé Nast Traveler, Vogue, The New Yorker and more for advertisers such as Tourism
                Ireland, Charleston CVB, Collier County Tourism Board and Silversea Cruises. Previously, she worked
                on the Integrated Marketing team at Warner Media for TBS and TNT networks helping to secure new
                revenue across advertisers such as Boston Beer, eBay, Denny's, Universal Orlando and more while
                managing the day to day added value and content partnerships for a number of agencies and holding
                companies such as Horizon, Omnicom Media Group and Publicis. She has a proven track record in
                brand partnerships, sales relationships and successfully executed campaigns and is a driven,
                enthusiastic and hard-wording team member.</p>

            <p>Outside of her professional roles, Jennie can be found running in Central Park, trying new recipes
                (especially with her new sourdough starter), and traveling around the world.
            </p>


        </div>
        <div class="contact-container">
            <div class="header-container">
                <h2>Contact Info</h2>
            </div>
            <div class="icon-container">
                <i (click)="linkedIn()" class="fab fa-linkedin icon"></i>
                <i (click)="instagram()" class="fab fa-instagram-square icon"></i>
                <i (click)="copyEmail('jgilman19@gmail.com')" class="far fa-envelope-open icon">
                    <div class="tooltip">Copy Email To Clipboard</div>
                </i>
                <i (click)="resume()" class="far fa-file icon "></i>
            </div>
        </div>
    </div>
</div>



<!-- 
<div class="notcopied" [ngClass]="{'copymsg': clicked, 'transition': clicked}">
    Copied Email To Clipboard!
</div> -->