.aboutme-container{
    display: flex;
    flex-direction: column;
}

.about{
    flex: 1;
}

/* .headshot-container{
    height: 350px;
} */


.headshot{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.jennie{
    font-size: 50px;
    font-weight: 600;
}

.aboutp{
    font-size: 16px;
    font-weight: 400;
}

.ptwo{
    margin-top: 20px;
}

.contact-container{
    display: flex;
    margin-top: 20px;
}

.header-container{
    flex: 1;
}

.contact-info{
    font-size: 20px;

}

.icon-container{
    display: flex;
    width: 50%;
    flex: 2;
    justify-content: space-evenly;

}

.icon{
    font-size: 3rem;
}

.icon:hover{
    cursor: pointer;
}

.fa-linkedin{
    color:  #0e76a8;
}

.fa-instagram-square{   
  color: #d6249f;
  /* color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
}

.fa-envelope-open{
    position: relative;
    color: #E41F1A;
}

.tooltip{
    visibility: hidden;
    width: 125px;
    margin: 0;
    font-size: 14px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);

  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .fa-envelope-open:hover .tooltip{
    visibility: visible;
  }

  .fa-file{
      color: green;
  }

  /* https://www.w3schools.com/css/css_tooltip.asp */

/*
.notcopied{
    display: none;
}

.copymsg{
    display: initial;
    position: fixed;
    border: 2px solid yellow;
    background-color: green;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 4s;
    transition-timing-function: ease-in;
    transition-delay: 3s;
}

.transition{
    opacity: 0;
}

still need to figure out how to transition box away */


@media only screen and (min-width: 768px){

    .headshot-container{
        margin-right: 10px;
    }



    .jennie{
        font-size: 84px;
    }

    .aboutme-container{
        flex-direction: row;
    }

    .info-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10px;
    }
    
    .about{
        height: unset;
    }

    /* .headshot-container{
        max-height: 450px;
    } */

    .contact-container{
        margin-top: 0;
    }

}

