<!-- ng for in the future -->
<div class="experience-container">
    <h1 class="sectionhead">Experience</h1>
    <div class="experience-detail">
        <h2 class="headertwo">Condé Nast - Brand Marketing Manager, Travel</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta culpa libero repellendus nobis
            adipisci in deleniti accusantium assumenda pariatur voluptas cum eum, impedit,
            aspernatur repudiandae dolorem distinctio facilis ea! Beatae?</p>
    </div>
    <div class="experience-detail">
        <h2 class="headertwo">WarnerMedia - Integrated Marketing Manager, TBS and TNT Networks</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta culpa libero repellendus nobis
            adipisci in deleniti accusantium assumenda pariatur voluptas cum eum, impedit,
            aspernatur repudiandae dolorem distinctio facilis ea! Beatae?</p>
    </div>
    <div class="experience-detail">
        <h2 class="headertwo">Discovery Inc. - Ad Sales Assistant, Direct Response</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta culpa libero repellendus nobis
            adipisci in deleniti accusantium assumenda pariatur voluptas cum eum, impedit,
            aspernatur repudiandae dolorem distinctio facilis ea! Beatae?</p>
    </div>
</div>